{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Product Details</title>
	<link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="{% static '' %}Register/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="{% static '' %}Register/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="{% static '' %}Register/vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="{% static '' %}Register/vendors/linericon/style.css">
  <link rel="stylesheet" href="{% static '' %}Register/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="{% static '' %}Register/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="{% static '' %}Register/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="{% static '' %}Register/css/style.css">
</head>
<body>


	<!--================Product Description Area =================-->

					<div class="row">
						<div class="col-lg-6">
							<div class="comment_list">
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-1.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<h5>12th Feb, 2018 at 05:56 pm</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
								<div class="review_item reply">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-2.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<h5>12th Feb, 2018 at 05:56 pm</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-3.png" alt="">
										</div>
										<div class="media-body">
											<h4>Blake Ruiz</h4>
											<h5>12th Feb, 2018 at 05:56 pm</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>Post a comment</h4>
								<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
									</div>
								</form>
							</div>
						</div>
					</div>

	<!--================End Product Description Area =================-->

	<!--================ Start related Product area =================-->




  <script src="{% static '' %}Register/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="{% static '' %}Register/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="{% static '' %}Register/vendors/skrollr.min.js"></script>
  <script src="{% static '' %}Register/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="{% static '' %}Register/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="{% static '' %}Register/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="{% static '' %}Register/vendors/mail-script.js"></script>
  <script src="{% static '' %}Register/js/main.js"></script>
</body>
</html>